//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 08 31 12:56:54 2026

IO_LOC "scl_bme280" 27;
IO_PORT "scl_bme280" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_status" 29;
IO_PORT "led_status" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "miso_pino" 34;
IO_PORT "miso_pino" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sda_bme280" 26;
IO_PORT "sda_bme280" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cs_pino" 42;
IO_PORT "cs_pino" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sclk_pino" 41;
IO_PORT "sclk_pino" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_pino" 52;
IO_PORT "clk_pino" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "mosi_pino" 33;
IO_PORT "mosi_pino" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
